*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.time-display {
    font-size: 14px;
    width: 100px;
    
}