* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri';
}

body {
  background: white;
  height: 100vh;
  margin: 20px;
  align-items: center;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  color: #0693e3;
}

.container {
  max-width:fit-content;
  margin: 0 auto;
}

.section {
  background-color: #dff2ff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  color: black;
}

label {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

input, select {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.button-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #0693e3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff7f7f;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 30px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 30px;
  background-color: white;
}

.form-container input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 0px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.notes {
    font-size: 10px;
    color: rgb(125, 118, 118);
    margin: 5px 0 20px 0;
}

.btn {
  margin: 5px 0 10px 0;
}

.form-container .cancel {
  background-color: rgb(171, 156, 156);
}
